body {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

/*navigation*/
.navigation {
    display: flex;
    justify-content:  center;
    align-items: center;
}

.navigation ul {
    display: block;
    margin: 1rem 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    
}

.navigation a {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid white;
}



.svg-logo {
    display: none;
}
/*main*/

.content {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-flow: row wrap;
    margin: 2rem auto;
}
/*footer*/



/*RWD*/
@media (min-width: 550px) {
    .navigation {
        display: flex;
        justify-content:  flex-end;
        align-items: center;
    }
    
    .orange-link:hover {
        color: #ffc400;
        border-color: #ffc400;
    }

    .red-link:hover {
        color: #ff7a7a;
        border-color: #ff7a7a;
    }

    .blue-link:hover {
        color: #01cbd6;
        border-color: #01cbd6;
       
    }
    
    .svg-logo {
        height: 5rem;
        display: block;
        margin: 0.4rem 1rem;
        opacity: 0.75;
        
    }

    .svg-logo:hover {
        opacity: 1.0;
        transition: opacity 2s;
    }

}

/* colors 
orange #ffc400
red #ff7a7a
blue #01cbd6